<footer>

	<hr></hr>
	
	<div>
	    <a href="https://www.facebook.com/cause4sbpaws/" target="_blank">
	        <img src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" class="facebook-logo" alt="CFSBP Facebook page">
	        </img>
	    </a>
    </div>

	<div>
	    <a href="mailto:cause4sbpaws@gmail.com">
	        <img src="http://www.iconarchive.com/download/i85569/graphicloads/100-flat/email-2.ico" class="email-logo" alt="CFSBP email">
	        </img>
	    </a>
    </div>
    <br>

    <p style="text-align: center; margin-top: 25px;">
    	Ruff-Ruff! <img src="https://i.pinimg.com/originals/fb/15/f0/fb15f07243e81de329a17151300b5e99.png" class="dog-logo"> We are dog adoption center serving the San Bernardino area.
    </p>
   
    <h4 style="margin-top: 25px; text-align: center;">&copy; 2018 CFSBP</h4>


</footer>