
<div class="navbar container navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">HOME</a>
  <a class="navbar-brand" href="/dogs">DOGS</a>
 
 <li class="nav-item dropdown navbar-brand">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADOPT
        </a>
        <div class="dropdown-menu" aria-labelledby="ADOPT">
          <a class="dropdown-item" href="/adopt">ADOPTION INFO</a>
          <a class="dropdown-item" href="/application">ADOPTION APPLICATION</a>
        </div>
</li>
<a class="navbar-brand" href="/donate">DONATE</a>
<a class="navbar-brand" href="/about">ABOUT</a>

  </nav>
  </div>
  </div>
  </div>

