<nav id="nav">
    <div class="container collapse navbar-collapse">
        <ul class="wsite-menu-default">
            
            <li id="home" class="wsite-menu-item-wrap wsite-nav-1" style="position: relative;">
                <a href="/home" class="wsite-menu-item">
                    HOME
                </a>                
            </li>

            <li id="dogmenu" class="wsite-menu-item-wrap wsite-nav-1" style="position: relative;">
                <a href="/dogs" class="wsite-menu-item">
                    DOGS
                </a>                
            </li>
            
            <li id="adopt" class="wsite-menu-item-wrap  wsite-nav-2">
                <a href="/adopt" class="wsite-menu-item">
                    ADOPT                           
                </a>                              
            </li>
            
            <li id="pg269826005965053434" class="wsite-menu-item-wrap  wsite-nav-3">
                <a href="/donate" class="wsite-menu-item">
                    DONATE
                </a>
            </li>
            
            <li id="pg800683356502321881" class="wsite-menu-item-wrap  wsite-nav-5">
                <a href="/about" class="wsite-menu-item">
                    ABOUT
                </a>
            </li>
            
        </ul>
    </div>

</nav>
    <script>
//$("#dogmenu").hide()
$("#pg894183582840226118").click(function (){
    $("#dogmenu").hide()
})
    </script>
{{!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dogs">Dogs
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>

    </div>
</nav> --}}