
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="/">HOME</a>
    <a href="/dogs">DOGS</a>
    <a href="/adopt">ADOPT</a>
    <a href="/donate">DONATE</a>
    <a href="/about">ABOUT</a>
  </div>
</div>

<span class="openbtn" onclick="openNav()">&#9776; Menu</span>


