<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<title>Cause for SB Paws</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/home.js"></script>


		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script>
		function openNav() {
		    document.getElementById("myNav").style.width = "100%";
		}

		function closeNav() {
		    document.getElementById("myNav").style.width = "0%";
		}
		</script>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
