<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
		<title>Cause for SB Paws</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/home.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
