
<body class="short-header-page  wsite-theme-light  wsite-page-index full-width-on touch">

    <div id="header-wrap">
        <label for="nav-trigger" class="nav-trigger hamburger">
            <span class="open-btn">
                <span class="mobile"></span>
                <span class="mobile"></span>
                <span class="mobile"></span> 
            </span>
        </label>
        <div id="logo">
            <span class="wsite-logo">

                <a href="/">
                    <img src="assets/img/logo1.jpg" alt="Cause For SB Paws">
                </a>

            </span>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-wrapper">
                <div class="sticky-wrapper">
                    <div class="sticky-wrapper">                      
                      {{> navbar }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="banner-wrap">
        <div class="about_background"></div>
    </div>
    <div id="main-wrap">
    	<h2 class="wsite-content-title" style="margin-top: 10px;">Join the Cause for SB Paws! Foster. Adopt. Volunteer.</h2>
    	<div class="wsite-spacer" style="height:35px;"></div>

    	<div class="paragraph" style="text-align: justify; line-height: 25px; margin-top: 25px;">
    	  <h3>Who We Are</h3>	
    	    <p>Cause for SB Paws is a 501(c)(3) tax-exempt, charitable organization comprised of San Bernardino area residents who care deeply about our animal care and control issues. Tax ID # 47-3145151.</p>
    	  <h3>What We Do</h3> 
    	    <p>When we have room, we take in dogs from the streets, shelters, and owner surrenders in the San Bernardino area. As you can imagine, many of our rescued dogs have been through a lot: abuse, neglect, never living inside a home or knowing the love of humans, etc. All of our dogs live in our foster homes. We work with the dogs as much as possible so they are used to home life before being adopted.</p> 
    	  <h3>Our Dream</h3>  
    	    <ol>
    	      <li>Serve as a temporary safe haven for strays and animals pulled from our local shelters.</li>
    	      <li>Hold community awareness events and workshops to curb the overwhelming amount of strays and pets surrendered to San Bernardino City and Devore Shelters. Events will include:</li>
    	        <ol type="a">
    	          <li>Low-cost training sessions.</li>
    	          <li>Workshops on the importance of vaccinations, spay and neuter.</li>
    	          <li>Low cost vaccinations, spay and neuter clinics through partnerships with local veterinarians.</li>
    	          <li>Workshops on how to navigate the shelter system if you have lost a pet, found a pet, etc.</li>
    	        </ol>
    	      <li>Hold adoption events for animals rescued from the streets and local shelters.</li>  
    	      <li>Assist pet owners who need to rehome their pets in an effort to decrease owner surrenders to SBC and Devore.</li>
    	      <li>Support low-income and homeless pet owners with pet food and supplies, vet care, etc., through donations and grants.</li>
    	      <li>Train therapy pets to visit local hospitals, retirement communities, and others who could benefit from the therapeutic benefits of well-behaved, loving animals.</li>
    	      <li>Provide the community with volunteer opportunities.</li>
    	      <li>Connect to local school districts to bring animal care and control education into the schools, and allow students the opportunity to volunteer at our center.</li>
    	      <li>Provide low-cost self-serve grooming with grooming tubs, dryers, shampoos, and other grooming supplies.</li>
    	    </ol>   	    	
    	  <div class="col-md-12 blog-container">    
    	    <h3>More Information</h3> 
    	      <p>Learn about adopting one of our dogs <a href="/adopt" style="color: turquoise;">HERE</a></p>
    	      <p>Find out how you can donate <a href="/donate" style="color: turquoise;">HERE</a></p> 
          </div>      
    	</div>

    </div>

  <!-- Custom Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">  

  
</body>