<body class="short-header-page  wsite-theme-light  wsite-page-index full-width-on touch">

    <div id="header-wrap">
        <label for="nav-trigger" class="nav-trigger hamburger">
            <span class="open-btn">
                <span class="mobile"></span>
                <span class="mobile"></span>
                <span class="mobile"></span>
            </span>
        </label>
        <div id="logo">
            <span class="wsite-logo">

                <a href="/">
                    <img src="assets/img/logo1.jpg" alt="Cause For SB Paws">
                </a>

            </span>
        </div>
        {{!--
        <div class="sticky-wrapper">
            <div class="sticky-wrapper">
                <div class="sticky-wrapper">
                    <div class="sticky-wrapper"> --}} {{> navbar }} {{!-- </div>
                </div>
            </div>
        </div> --}}
    </div>

    <div id="banner-wrap">
        <div class="adopt_background"></div>
    </div>

    
    <div id="main-wrap">
        <div class="col-md-12">
            <h2 class="wsite-content-title">How To Adopt</h2>
        </div>
        <div class="col-md-12 paragraph" style="text-align:center;">Yay for new furry family!</div>
        <div class="wsite-spacer" style="height:35px;"></div>
        <div class="adopt_container">

            <div class="row">
                <p>Owning a pet is a lifelong commitment. Rescued pets often come from neglectful, abusive, or otherwise substandard
                    situations, so please understand many of our available dogs may need basic training, have poor indoor
                    manners (as they lived outside most of their lives), may require potty training, etc. They may take longer
                    to bond with you and trust you. They may have separation anxiety, scratch at your doors, eat your shoes
                    when left alone, and more. They say dogs only live in the "now," but some of our dogs are more sensitive
                    than others and have lasting idiosyncrasies that require a patient, loving, and understanding human.
                    We work with them as much as possible with trainers as well as in our homes to ensure they are adoptable.
                    No dog is ever "perfect," although WE think they all are, but a rescued dog can come with emotional baggage
                    that not everyone is ready to handle.</p>
                <p>Please make sure you are ready to embark on one of the most fulfilling and challenging adventures ever -
                    rescuing a dog. If you are, you will find yourself being "rescued" just as much as the baby you are rescuing.</p>
                <p>Meet our beloved Cause for SB Paws rescue babies at our adoption events at the Petco in Redlands, CA and
                    Tommy's Pet studio in Blue Jay, CA. Email CAUSE4SBPAWS@GMAIL.COM for event days and times. We can also
                    schedule Meet & Greets throughout the week! </p>
            </div>
        </div>

        <div class="adopt_container">

            <div class="row">
                <div class="paragraph col-md-6">
                    <div class="col-md-12">
                        <h2 class="wsite-content-title">Please Read Carefully before applying</h2>
                    </div>
                    <p>Owning a pet is a lifelong commitment. Rescued pets often come from neglectful, abusive, or otherwise
                        substandard situations, so please understand many of our available dogs may need basic training,
                        have poor indoor manners (as they lived outside most of their lives), may require potty training,
                        etc. They may take longer to bond with you and trust you. They may have separation anxiety, scratch
                        at your doors, eat your shoes when left alone, and more. They say dogs only live in the "now," but
                        some of our dogs are more sensitive than others and have lasting idiosyncrasies that require a patient,
                        loving, and understanding human. We work with them as much as possible with trainers as well as in
                        our homes to ensure they are adoptable. No dog is ever "perfect," although WE think they all are,
                        but a rescued dog can come with emotional baggage that not everyone is ready to handle.</p>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12">
                        <h2 class="wsite-content-title">Adoption Application</h2>
                        <h4>Please submit your contact information and we will get in touch with you!</h4>
                    </div>

                    <div class="form">

                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPhone">Phone</label>
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Sign me up for Newsletter!
                                    </label>
                                </div>
                            </div>
                            <button id="submit" class="btn btn-primary">Submit Application</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank you so much for submitting an adoption application! We will get in touch with you shortly!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
    <script src="/assets/js/applications.js" type="text/javascript"></script>

</body>