<div class="short-header-page wsite-theme-light wsite-page-index full-width-on touch">
  <div id="header-wrap">
    <div id="logo">
      <span class="wsite-logo">
        <a href="/">
          <img alt="Cause For SB Paws" src="/assets/img/logo1.jpg">
          </img>
        </a>
      </span>
    </div>
  </div>
  {{> navbar }}
  <div id="banner-wrap">
    <div class="dogs_background">
    </div>
  </div>
  <div id="main-wrap">
    <h2>Available dogs: </h2>

    <ul>
      {{#each dogs}}
        {{#unless adopted}}
          {{> dogs/dog-block adopted=true}}
        {{/unless}}
      {{/each}}
    </ul>

    <h2>Recently adopted dogs:</h2>

    <ul>
      {{#each dogs}}
        {{#if adopted}}
          {{> dogs/dog-block adopted=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

{{> footer }}
