<body class="short-header-page  wsite-theme-light  wsite-page-index full-width-on touch">

    <div id="header-wrap">
        <label for="nav-trigger" class="nav-trigger hamburger">
            <span class="open-btn">
                <span class="mobile"></span>
                <span class="mobile"></span>
                <span class="mobile"></span>
            </span>
        </label>
        <div id="logo">
            <span class="wsite-logo">

                <a href="/">
                    <img src="assets/img/logo1.jpg" alt="Cause For SB Paws">
                </a>

            </span>
        </div>
        <div class="sticky-wrapper">
            <div class="sticky-wrapper">
                <div class="sticky-wrapper">
                    <div class="sticky-wrapper">
                        <div id="nav">
                            <div class="container">
                                <ul class="wsite-menu-default">
                                    <li id="pg894183582840226118" class="wsite-menu-item-wrap  wsite-nav-1" style="position: relative;">
                                        <a class="wsite-menu-item">
                                            DOGS
                                        </a>

                                    </li>
                                    <li id="pg445290929938929396" class="wsite-menu-item-wrap  wsite-nav-2">
                                        <a href="/adopt" class="wsite-menu-item">
                                            ADOPT
                                        </a>
                                    </li>
                                    <li id="pg269826005965053434" class="wsite-menu-item-wrap  wsite-nav-3">
                                        <a href="/donate" class="wsite-menu-item">
                                            DONATE
                                        </a>
                                    </li>
                                    <li id="pg405857749347399896" class="wsite-menu-item-wrap  wsite-nav-4">
                                        <a class="wsite-menu-item">
                                            VOLUNTEER
                                        </a>

                                    </li>
                                    <li id="pg800683356502321881" class="wsite-menu-item-wrap  wsite-nav-5">
                                        <a href="/about" class="wsite-menu-item">
                                            ABOUT
                                        </a>

                                    </li>
                                    <li id="pg355244031432604311" class="wsite-menu-item-wrap  wsite-nav-6">
                                        <a class="wsite-menu-item">
                                            RESOURCES
                                        </a>

                                    </li>
                                    <li id="pg773233856539588136" class="wsite-menu-item-wrap  wsite-nav-7">
                                        <a class="wsite-menu-item">
                                            SUCCESS
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="banner-wrap">
        <div class="donate_background"></div>
    </div>
    <div id="main-wrap">

        <h2 class="wsite-content-title">Ways to Donate</h2>
        <div class="paragraph" style="text-align: justify; line-height: 25px;">
            <p>Cause for SB Paws is a 501(c)(3) tax-exempt, charitable organization, Tax ID # 47-3145151. Donations are always
                welcome and very much appreciated so we can keep doing what we do! You can click the DONATE button below
                to donate via Paypal or credit card. Paypal will ask you to create an account, and then you can donate via
                credit card.</p>

        </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="7J7PAV9A25WGQ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <div class="paragraph" style="text-align: justify; line-height: 25px;">
            <p>You can also donate via Paypal to cause4sbpaws@gmail.com, or click here: Paypal.Me/Cause4SBPaws Another otion
                is TXT2GIVE. Text the word GIVE to our personalized number (909) 351-3274.</p>
            <p style="text-align: center; font-weight:bolder;">Thank you!</p>

            <p>Please email us to request a donation thank you for tax purposes.
            </p>

            <p> Email Cause4SBPaws@gmail.com for address information to mail a check.</p>

            <p>If you would like to buy our dogs some supplies, please click on our <a href="https://www.amazon.com/gp/registry/wishlist/1ILGLH711FPAZ/ref=cm_sw_su_w" style="color:purple;font-weight:bolder;">Amazon Wish List</a></p>
            <p> We are also always in need of the following items:</p>
        </div>

        <div>
        <ul id="donation-items">
            <li>Large, Metal Pooper Scoopers</li>
            <li>Blankets</li>
            <li>Towels, towels and more towels</li>
            <li>Plastic buckets</li>
            <li>Food (dry and canned)</li>
            <li>Doggie Beds</li>
            <li>Wire Crates</li>
            <li>Pens</li>
            <li>Toys</li>
            <li>Leashes and Collars of all sizes</li>
            <li>Harnesses of all sizes</li>
            <li>Bleach</li>
            <li>Laundry Detergent</li>
        </ul>
    </div>
    </div>
        <!-- Custom Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">

</body>