<div class="short-header-page wsite-theme-light wsite-page-index full-width-on touch">
  <div id="header-wrap">
    <label class="nav-trigger hamburger" for="nav-trigger">
      <span class="open-btn">
        <span class="mobile">
        </span>
        <span class="mobile">
        </span>
        <span class="mobile">
        </span>
      </span>
    </label>
    <div id="logo">
      <span class="wsite-logo">
        <a href="/">
          <img alt="Cause For SB Paws" src="/assets/img/logo1.jpg">
          </img>
        </a>
      </span>
    </div>
  </div>
  {{> navbar }}
  <div id="banner-wrap">
    <div class="home_background">
    </div>
  </div>
  <div id="main-wrap">
    <h2 class="wsite-content-title" style="margin-top: 5px;">
      Ways to Donate
    </h2>
    <div class="paragraph" style="text-align: justify; line-height: 25px; margin-top: 12px;">
      <p>
        Cause for SB Paws is a 501(c)(3) tax-exempt, charitable organization, Tax ID # 47-3145151. Donations are always
                welcome and very much appreciated so we can keep doing what we do! You can click the DONATE button below
                to donate via Paypal or credit card. Paypal will ask you to create an account, and then you can donate via
                credit card.
      </p>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input name="cmd" type="hidden" value="_s-xclick">
        <input name="hosted_button_id" type="hidden" value="7J7PAV9A25WGQ">
          <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
            <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
            </img>
          </input>
        </input>
      </input>
    </form>
    <div class="paragraph" style="text-align: justify; line-height: 25px;">
      <p>
        You can also donate via Paypal to cause4sbpaws@gmail.com, or click here: Paypal.Me/Cause4SBPaws Another otion
                is TXT2GIVE. Text the word GIVE to our personalized number (909) 351-3274.
      </p>
      <p style="text-align: center; font-weight:bolder;">
        Thank you!
      </p>
      <p>
        Please email us to request a donation thank you for tax purposes.
      </p>
      <p>
        Email Cause4SBPaws@gmail.com for address information to mail a check.
      </p>
      <p>
        If you would like to buy our dogs some supplies, please click on our
        <a href="https://www.amazon.com/gp/registry/wishlist/1ILGLH711FPAZ/ref=cm_sw_su_w" style="color:purple;font-weight:bolder;">
          Amazon Wish List
        </a>
      </p>
      <p>
        We are also always in need of the following items:
      </p>
    </div>
    <div>
      <ul id="donation-items">
        <li>
          Large, Metal Pooper Scoopers
        </li>
        <li>
          Blankets
        </li>
        <li>
          Towels, towels and more towels
        </li>
        <li>
          Plastic buckets
        </li>
        <li>
          Food (dry and canned)
        </li>
        <li>
          Doggie Beds
        </li>
        <li>
          Wire Crates
        </li>
        <li>
          Pens
        </li>
        <li>
          Toys
        </li>
        <li>
          Leashes and Collars of all sizes
        </li>
        <li>
          Harnesses of all sizes
        </li>
        <li>
          Bleach
        </li>
        <li>
          Laundry Detergent
        </li>
      </ul>
    </div>
  </div>
</div>
