<div class="short-header-page wsite-theme-light wsite-page-index full-width-on touch">
  <div id="header-wrap">
    <div id="logo">
      <span class="wsite-logo">
        <a href="/">
          <img alt="Cause For SB Paws" src="/assets/img/logo1.jpg">
          </img>
        </a>
      </span>
    </div>
  </div>
  {{> navbar }}
  <div id="banner-wrap">
    <div class="home_background">
    </div>
  </div>
  <div id="main-wrap">
    <h2 class="wsite-content-title" style="margin-top: 5px;">
      JOIN THE CAUSE FOR SB PAWS!
    </h2>
    <h2>
      Recently adopted dogs:
    </h2>

    <div class="dogs_container">
      <div class="media">
        {{#each dogs}} {{#if adopted}}
        <img src="{{this.photo}}">
        {{/if}} {{/each}}
      </div>
    </div>


  </div>
</div>
</div>