
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>welcome</title>
  <!-- Latest compiled and minified CSS & JS -->
  
</head>

<body class="short-header-page  wsite-theme-light  wsite-page-index full-width-on touch">

  <div id="header-wrap">
    <label for="nav-trigger" class="nav-trigger hamburger">
      <span class="open-btn">
        <span class="mobile"></span>
        <span class="mobile"></span>
        <span class="mobile"></span>
      </span>
    </label>
    <div id="logo">
      <span class="wsite-logo">

        <a href="/">
          <img src="assets/img/logo1.jpg" alt="Cause For SB Paws">
        </a>

      </span>
    </div>
    <div class="sticky-wrapper">
      <div class="sticky-wrapper">
        <div class="sticky-wrapper">
          <div class="sticky-wrapper">
            {{> navbar }}
        </div>
      </div>
    </div>
  </div>

  <div id="banner-wrap">
    <div class="home_background"></div>           
  </div>

  <h2 style="margin-top: 50px; font-size: 30px;">JOIN THE CAUSE FOR SB PAWS!</h2>



  <ul>
    {{#each dogs}} {{#if adopted}} {{> dogs/dog-block adopted=false}} {{/if}} {{/each}}
  </ul>

  <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">

</body>

</html>

