<div class="short-header-page wsite-theme-light wsite-page-index full-width-on touch">
  <div id="header-wrap">
    <div id="logo">
      <span class="wsite-logo">
        <a href="/">
          <img alt="Cause For SB Paws" src="/assets/img/logo1.jpg">
          </img>
        </a>
      </span>
    </div>
  </div>
  {{> navbar }}
  <div id="banner-wrap">
    <div class="home_background">
    </div>
  </div>
  <div id="main-wrap">
    <div>
      <hr>
    </div>

    <h2>Join the Cause for SB Paws!</h2>
    <h4>Donate. Foster. Adopt. Volunteer.</h4>
    <p class="main_page_paragraph">Support us when you shop at Amazon! #StartWithaSmile at smile.amazon.com/ch/47-3145151 and Amazon donates to Cause for SB
      Paws. Also check out and "Like" our <a href="https://www.facebook.com/cause4sbpaws/">Facebook page</a>, where we update regularly: Cause for San Bernardino Paws Learn about
      adopting one of our dogs here . Find out how you can donate here .
    </p>

     <div>
      <hr>
    </div>

    <h2>
      Recently adopted dogs:
    </h2>

    <div class="row dog_container">
      <div class="col-xs-12 media">
        {{#each dogs}} {{#if adopted}}
        <div class="col-xs-12 col-sm-4 dog_image">
          <img src="{{this.photo}}" class="dog_image">
          <div class="dog_overlay">
            <div class="dog_name">{{this.name}}</div>
            <div class="dog_breed">{{this.breed}}</div>
          </div>
        </div>

        {{/if}} {{/each}}
      </div>
    </div>

  </div>
</div>
</div>