body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  width: 100%;
  height: 100%;
  font: 16px/1 'Montserrat', sans-serif;
  background: #ffffff;
  color: #415161;
}

h2 {
 
  padding: 0;
  border: 0;
  text-align:center;
  font-family: "Montserrat";
  color: #44b3c2;
  word-wrap: break-word;
  font-size: 1.75em;
  display: block;
  font-weight: bold;
}

button.submit {
  float: right;
}


form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

#header-wrap {
  width: 100%;
  text-align: center;
  background: #ffffff;
  z-index: 13;
}

div {
  display: block;
}

.nav-trigger {
  display: none;
  cursor: pointer;
}

#logo {
  font-size: 2.75em;
  font-weight: bold;
  color: #415161;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0 .5em;
}

.wsite-logo {
  display: inline-block;
  vertical-align: top;
}

a {
  color: #546270;
  text-decoration: none;
  outline: 0;
}

#logo img {
  max-height: 200px;
  max-width: 100%;
  margin: 0 !important;
}

.wsite-logo a img {
  border: 0;
}

.wsite-logo img,
.wsite-logo span {
  vertical-align: top !important;
}

#nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
}

.navbar-brand {
  position: center
}
.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
}

.adoption_info {
  font-family: "Open Sans";
  margin: 0 auto 2em;
  /* word-wrap: break-word; */
  font-size: 20px;
  line-height: 35px;
}

.attn {
  text-align: center;
  color: red;

}

#nav ul {
  list-style: none;
  text-align: center;
}

.wsite-menu-default{
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
} 

#donation-items {
text-align: left;
line-height: 25px;
}

#nav ul li a {
  display: block;
  color: 7B8D8E;
  padding: 1em .75em;
  font-size: 1.15em;
}

.wsite-menu-default a {
  font-family: "Montserrat" !important;
  text-transform: uppercase !important;
}

 .home_background {
  background-size: cover !important;
  width:100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1494913148647-353ae514b35e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=690fde360cf073d36a84808c5f655c0e&auto=format&fit=crop&w=2104&q=80") !important;
  background-repeat: no-repeat !important; 

   background-position: 50% 50% !important;
  background-color: transparent !important;
  background-color: red;
  
}

.adopt_background {
  background-size: cover !important;
  width:100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1518887371124-412923b6ccff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ca7e3d745d3d5d14cad59a77b994de4&auto=format&fit=crop&w=3900&q=80") !important;
  background-repeat: no-repeat !important; 

   background-position: 50% 50% !important;
  background-color: transparent !important;
  background-color: red;
  
}

.adopt_application_background {
  background-size: cover !important;
  width:100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1525253086316-d0c936c814f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8736d12c2b307c3148af61b63811e38&auto=format&fit=crop&w=3900&q=80");
  background-repeat: no-repeat !important; 
  background-position: 50% 50% !important;
  background-color: transparent !important;
  background-color: red;

}

.application_background {
  background-size: cover !important;
  width:100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1499938971550-7ad287075e0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d787d5e47840a5a0a6ff7574c90a02d7&auto=format&fit=crop&w=1867&q=80");
  background-repeat: no-repeat !important; 
  background-position: 50% 50% !important;
  background-color: transparent !important;
  background-color: red;

}

.donate_background {
  background-size: cover !important;
  width:100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1525253013412-55c1a69a5738?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa9feeafa35aafd43a4f9c90c8a9ef7&auto=format&fit=crop&w=2100&q=80");
  background-repeat: no-repeat !important; 
  background-position: 50% 50% !important;
  background-color: transparent !important;
  background-color: red;
}

a {
  color: #546270;
  text-decoration: none;
  outline: 0;
}

#banner-wrap {
  width: 100%;
  height: 300px;
  /* display: table; */
  background: #f9fafb;
  border-bottom: 1px solid #e6e9eb;
  text-align: center;
}

#main-wrap{

  padding: 40px;
  text-align: center;
}
 
/***** FORMS CSS *****/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/***** MEDIA QUERIES *****/

@media (max-width: 767px) {
  #header-wrap .nav-trigger {
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  #header-wrap .nav-trigger {
    padding-left: 40px;
  }
}

@media (max-width: 1024px) {
  #header-wrap .nav-trigger,
  #header-wrap #logo {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (max-width: 1024px) {
  .nav-trigger {
    padding: 10px;
  }
}
@media (max-width: 1024px) {
.nav-trigger span.mobile {
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    margin: 0 auto 5px;
    background: #415161;
}
}


