body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  width: 100%;
  height: 100%;
  font: 16px/1 'Montserrat', sans-serif;
  background: #ffffff;
  color: #415161;
  box-sizing: border-box;
}

h2 {
  padding: 0;
  border: 0;
  text-align: center;
  font-family: "Montserrat";
  color: #44b3c2;
  word-wrap: break-word;
  font-size: 1.75em;
  display: block;
  font-weight: bold;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

#header-wrap {
  width: 100%;
  text-align: center;
  background: #ffffff;
  z-index: 13;
}

div {
  display: block;
}

.nav-trigger {
  display: none;
  cursor: pointer;
}

#logo {
  font-size: 2.75em;
  font-weight: bold;
  color: #415161;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0 .5em;
}

.wsite-logo {
  display: inline-block;
  vertical-align: top;
}

a {
  color: #546270;
  text-decoration: none;
  outline: 0;
}

#logo img {
  max-height: 200px;
  max-width: 100%;
  margin: 0;
}

.wsite-logo a img {
  border: 0;
}

.wsite-logo img,
.wsite-logo span {
  vertical-align: top !important;
}

#nav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
  font-size: 20px;
}

/*Photo Gallery*/
.media {
  overflow: hidden;
  position: relative;
  min-width: 0;
  margin: 5px;
  flex-wrap: wrap;
}

.dog_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.dog_image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 600px;
  padding: 5px;
}

.dog_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#CCD1D1;
}

.dog_image:hover .dog_overlay {
  opacity: 0.7;
}

.dog_name {
  color:#78281F;
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.dog_breed {
  color:#78281F;
  font-size: 25px;
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/*Photo gallery ends*/

.navbar-brand {
  position: center;
}

.nav-link {
  color: black;
  margin: -17px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
}

.adopt_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 1024px; */
}

.adoption_info {
  font-family: "Open Sans";
  margin: 0 auto 2em;
  text-align: justify;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  /* word-wrap: break-word; */
  font-size: 20px;
  line-height: 35px;
}

.btn-primary {
  margin-left: 175px;
}

.attn {
  text-align: center;
  color: red;
}

#nav ul {
  list-style: none;
  text-align: center;
}

.wsite-menu-default {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}

#donation-items {
  text-align: left;
  line-height: 25px;
}

#nav ul li a {
  display: block;
  color: 7B8D8E;
  padding: 1em .75em;
  font-size: 1.15em;
}

.wsite-menu-default a {
  font-family: "Montserrat" !important;
  text-transform: uppercase !important;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

.scrollbtn {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #AAA6A3;
  overflow-x: hidden;
  transition: 0.8s;
  opacity: 0.9;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.home_background {
  background-size: cover;
  width: 100%;
  height: 110%;
  background-image: url("/assets/img/home_banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

.dogs_background {
  background-size: cover;
  width: 100%;
  height: 110%;
  background-image: url("/assets/img/dogs_banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

.adopt_background {
  background-size: cover;
  width: 100%;
  height: 110%;
  background-image: url("/assets/img/adopt_banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

.about_background {
  background-size: cover;
  width: 100%;
  height: 110%;
  background-image: url("/assets/img/about_banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

.donate_background {
  background-size: cover;
  width: 100%;
  height: 110%;
  background-image: url("/assets/img/donate_banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

#donation_button {
  text-align: center;
}

a {
  color: #546270;
  text-decoration: none;
  outline: 0;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #CD5C5C;
  font-weight: bolder;
  background-color: transparent;
  text-decoration: none;
}

#banner-wrap {
  width: 100%;
  height: 350px;
  background: #f9fafb;
  border-bottom: 1px solid #e6e9eb;
  text-align: center;
  overflow: hidden;
  /* position: relative; */
}

#main-wrap {
  padding: 40px;
  font-size: 20px;
  line-height: 30px;
}

/***** FORMS CSS *****/

/*the container must be positioned relative:*/

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.form {
  margin-left: 75px;
  margin-right: 75px;
}

/***** MEDIA QUERIES *****/

@media (max-width: 767px) {
  #header-wrap .nav-trigger {
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  #header-wrap .nav-trigger {
    padding-left: 40px;
  }
}

@media (max-width: 1024px) {
  #header-wrap .nav-trigger,
  #header-wrap #logo {
    /* display: table-cell; */
    vertical-align: middle;
  }
}

@media (max-width: 1024px) {
  .nav-trigger {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .nav-trigger span.mobile {
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    margin: 0 auto 5px;
    background: #415161;
  }
}